@{
    ViewBag.Title = "CommentManagement";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="content-wrapper">
    <ul>
        <li>
            @Html.Label("Mặt hàng")
        </li>
    </ul>
</div>

